<!doctype html>
<html class="no-js" lang="en">
   <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>ANEV - Web Service</title>
      <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
      <link rel="stylesheet" href="static/css/style.css">
      <link rel="stylesheet" href="static/css/fonts/foundation-icons.css">
   </head>
   <body>
      <div class="off-canvas-wrapper">
         <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <!-- off-canvas title bar for 'small' screen -->
            <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
               <div class="title-bar-left">
                  <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
                  <span class="title-bar-title">ANEV - Web Service</span>
               </div>
            </div>
            <!-- "wider" top-bar menu for 'medium' and up -->
            <div id="widemenu" class="top-bar">
               <div class="top-bar-left">
                  <ul class="dropdown menu" data-dropdown-menu>
                     <li class="menu-text">ANEV - Web Service</li>
                  </ul>
               </div>
            </div>
            <!-- original content goes in this container -->
            <div class="off-canvas-content" data-off-canvas-content>
               <div class="row column">
                  <div class="large ">
                     <div class="row column text-center">
                        <h1>ANEV - WebService</h1>
                        <h2 class="subheader">Aplication Client</h2>
                     </div>
                  </div>
                <form id="form">
                    <div class="large">
                        <h4 class="text-center">Pesquisar</h4>
                        <label>Aluno
                        <input type="text" placeholder="Aluno">
                        </label>
                        <label>Nome
                        <input type="text" placeholder="Nome">
                        </label>
                        <p>
                            <a type="submit" class="button expanded">
                                <i class="fi-magnifying-glass foundicon-magnifying-glass"></i>
                                Pesquisar
                            </a>
                        </p>
                    </div>
                </form>
               </div>
               <div class="row column">
                <table id="tabela">
                    <thead>
                        <tr>
                          <th>Aluno</th>
                          <th width="200">Nome</th>
                          <th width="150">CPF</th>
                          <th width="150">RG</th>
                          <th width="150">Data Nascimento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>010616007</td>
                          <td>Neno</td>
                          <td>111.444.77.45</td>
                          <td>12.123.123-5</td>
                          <td>17/11/1992</td>
                        </tr>
                    </tbody>
                </table>
               </div>
            </div>
         </div>
      </div>
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
      <script>
         $(document).foundation();
      </script>
   </body>
</html>