<!doctype html>
<html class="no-js" lang="en">
   <head>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>ANEV - Web Service</title>
      <!-- Foundation Css -->
      <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
      <!-- Estilo -->
      <link rel="stylesheet" href="static/css/style.css">
      <!-- Ícones -->
      <link rel="stylesheet" href="static/css/fonts/foundation-icons.css">
      <!-- JQuery -->
      <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
      <!-- Angular -->
      <script type="text/javascript" src="https://code.angularjs.org/1.5.5/angular.js"></script>
      <!-- App -->
      <script type="text/javascript" src="static/js/app.js"></script>
      <script type="text/javascript" src="static/js/app-config.js"></script>
      <script type="text/javascript" src="static/js/home_controller.js"></script>
   </head>
   <body ng-app="app">
      <div class="off-canvas-wrapper" ng-controller="HomeController">
         <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <!-- off-canvas title bar for 'small' screen -->
            <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
               <div class="title-bar-left">
                  <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
                  <span class="title-bar-title">ANEV - Web Service</span>
               </div>
            </div>
            <!-- "wider" top-bar menu for 'medium' and up -->
            <div id="widemenu" class="top-bar">
               <div class="top-bar-left">
                  <ul class="dropdown menu" data-dropdown-menu>
                     <li class="menu-text">ANEV - Web Service</li>
                  </ul>
               </div>
            </div>
            <!-- original content goes in this container -->
            <div class="off-canvas-content" data-off-canvas-content>
               <div class="row column">
                  <div class="large ">
                     <div class="row column text-center">
                        <h1>ANEV - WebService</h1>
                        <h2 class="subheader">Aplication Client</h2>
                     </div>
                  </div>
                <form id="form">
                    <div class="large">
                        <h4 class="text-center">Pesquisar</h4>
                        <label>Aluno
                        <input type="number" ng-model="aluno" placeholder="Aluno">
                        </label>
                        <label>Nome
                        <input type="text" ng-model="nome" placeholder="Nome">
                        </label>
                        <select ng-model="formato" ng-options="item as item.name for item in items"></select>
                        <p>
                            <a type="submit" class="button expanded" ng-click="pesquisar()">
                                <i class="fi-magnifying-glass foundicon-magnifying-glass"></i>
                                Pesquisar
                            </a>
                        </p>
                    </div>
                </form>
               </div>
               <div class="row column">
                <div class="panel">
                  <h5>Data.</h5>
                  <pre id="data">
                  ({data})
                  </pre>
                </div>
               </div>
               <div class="row column">
                <table id="tabela">
                    <thead>
                        <tr>
                          <th>Aluno</th>
                          <th width="200">Nome</th>
                          <th width="150">CPF</th>
                          <th width="150">RG</th>
                          <th width="150">Data Nascimento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(indice, dado) in registros">
                          <td>({dado.aluno})</td>
                          <td>({dado.nome})</td>
                          <td>({dado.cpf})</td>
                          <td>({dado.rg})</td>
                          <td>({dado.data_nasc})</td>
                        </tr>
                        <tr ng-hide="registros.length">
                          <td col="5">Nenhum Registro encontrado</td>
                        </tr>
                    </tbody>
                </table>
               </div>
            </div>
         </div>
      </div>
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
      <script>
         $(document).foundation();
      </script>
   </body>
</html>